* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

html {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* background-image: url('../images/background.jpeg'); */
    /* background-size: cover;
    background-position: center; */
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: none;
}


.parent {
    position: relative;
    perspective: 100em;

}

h1 {
    text-align: left;
    margin: 0;
    padding: 5px;
    height: 55px;
    width: 1000px;
    position: absolute;
    top: 8%;
    left: 5%;
    z-index: 3;
    color: rgb(0, 0, 0);
    font-size: 300%;

}

.parent img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

#message {
    /* border: 2px solid red; */
    position: absolute;
    top: 10%;
    left: 55%;
    height: 35px;
    width: 500px;
    padding: 5px;
    transform: rotateY(-35deg);
    font-size: 180%;
    z-index: 0;
}


#user-wins {
    /* border: 2px solid red; */
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    height: 35px;
    width: 150px;
    transform: rotateY(-35deg);
    z-index: 0;
}

#user-choice img {
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
    border-radius: 25px;
    position: absolute;
    top: 26%;
    left: 48%;
    z-index: 0;
    transform: rotateY(-35deg);
}

#cpu-wins {
    /* border: 2px solid red; */
    padding: 5px;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 77%;
    top: 18%;
    z-index: 2;
    transform: rotateY(-35deg) ;
}

#cpu-choice img {
    height: 220px;
    width: 200px;
    /* border: 2px solid red; */
    border-radius: 25px;
    position: absolute;
    top: 24%;
    left: 75%;
    z-index: 2;
    transform: rotateY(-35deg);
}

/* Media Queries */

@media (max-width: 1680px) {

    h1 {
        width: 600px;
        left: 4.5%;
        font-size: 270%;
    
    }

}

@media (max-width: 1440px) {
    
    h1 {
        height: 55px;
        width: 600px;
        left: 3%;
        font-size: 250%;
    
    }

    #message {
        /* border: 2px solid red; */
        top: 9.5%;
        left: 54%;
        font-size: 155%;
    }
    
    
    #user-wins {
        /* border: 2px solid red; */
        left: 51%;
    }
    
    #user-choice img {
        height: 160px;
        width: 160px;
        /* border: 2px solid red; */
        left: 50%;
    }
    
    #cpu-wins {
        /* border: 2px solid red; */
        left: 74%;
    }
    
    #cpu-choice img {
        height: 180px;
        width: 160px;
        /* border: 2px solid red; */
        left: 73%;
    }

}

@media (max-width: 1024px) {
    
    h1 {
        width: 400px;
        left: 2.5%;
        font-size: 175%;
    
    }

    #message {
        /* border: 2px solid red; */
        font-size: 130%;
    }
    
    
    #user-wins {
        /* border: 2px solid red; */
        padding: 5px;
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 95%;
    }
    
    #user-choice img {
        height: 150px;
        width: 150px;
        /* border: 2px solid red; */
        top: 26%;
        left: 49%;
    }
    
    #cpu-wins {
        /* border: 2px solid red; */
        left: 75%;
        top: 18%;
        font-size: 95%;
    }
    
    #cpu-choice img {
        height: 160px;
        width: 150px;
        /* border: 2px solid red; */
        top: 24%;
        left: 74%;
    }
}

/* can't get these two media queries to work */
/* Need a little more time to figure it out */
@media (max-width: 375px) {
    
    h1 {
        border: 2px solid red;
        margin: 0;
        padding: 5px;
        height: 55px;
        width: 1000px;
        position: absolute;
        top: 8%;
        left: 2%;
        font-size: 100%;
        color: #fff;
    
    }
}

@media (max-width: 320px) {
    h1 {
        border: 2px solid red;
        margin: 0;
        padding: 5px;
        height: 55px;
        width: 1000px;
        position: absolute;
        top: 8%;
        left: 2%;
        font-size: 100%;
        color: #fff;
    
    }
}